---
layout: default
title: Latest
description: Stay up-to-date with our most recent articles, breaking news, and featured stories. Curated with accuracy, insight, and a pulse on what truly matters.
permalink: /latest/
image: 'images/01.jpg'
---

<!-- begin latest -->
<section class="section latest">
  <div class="container">
    <div class="section__inner">
      <div class="row">

        <div class="col col-8 col-w-10 col-d-12 push-2 push-w-1 push-d-0">

          <div class="section__hero">
            <div class="section__hero__inner">
              {% if page.title %}
              <h1 class="section__hero__title">{{ page.title }}</h1>
              {% endif %}
              {% if page.description %}
              <p class="section__hero__description">{{ page.description }}</p>
              {% endif %}
            </div>
          </div>

          <div class="row">
            {% for post in site.posts %}
              {% include article.html class="col col-6 col-t-12" %}
            {% endfor %}
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<!-- end latest -->