{% if site.data.settings.projects.enable == true %}
<!-- begin projects -->
<section class="section projects">
  <div class="container">
    <div class="section__inner">

      <div class="row">
        <div class="col col-8 col-w-10 col-d-12 push-2 push-w-1 push-d-0">

          <div class="section__head">
            {% if site.data.settings.projects.projects_title %}
            <h2 class="section__title">{{ site.data.settings.projects.projects_title }}</h2>
            {% endif %}
          </div>

          <div class="row">
            {% assign sorted = site.projects | sort: 'date' | reverse %}
            {% assign displayed_projects = 0 %}
            {% for project in sorted %}
              {% unless project.featured == true %}
              {% assign displayed_projects = displayed_projects | plus: 1 %}
              <article class="project col col-6 col-t-12">
                <div class="project__content">
                  {% if project.image %}
                  <div class="project__head">
                    <div class="bookmark-btn" data-id="{{ project.url }}" data-title="{{ project.title }}"
                      data-desc="{{ project.excerpt | strip_html | truncate: 100 }}" data-date="{{ project.date | date_to_long_string }}" data-image="{{ project.image }}">
                      <i class="fa-regular fa-bookmark"></i>
                    </div>
                    <a href="{{ project.url }}" class="project__image">
                      {% if project.video_embed %}
                      <div class="video-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                          <polygon points="40,30 70,50 40,70"></polygon>
                        </svg>
                      </div>
                      {% endif %}
                      <img class="lazy" data-src="{{ project.image | relative_url }}" alt="{{ project.title }}">
                    </a>
                  </div>
                  {% endif %}
                  <div class="project__info">
                    {% if project.label %}
                    <div class="project__label">{{ project.label }}</div>
                    {% endif %}
                    {% if project.title %}
                    <h2 class="project__title"><a class="project__link" href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
                    {% endif %}
                    <p class="project__excerpt">{% if project.description %}{{ project.description }}{% else %}{{ project.content | strip_html | truncate: 160 }}{% endif %}</p>
                  </div>
                </div>
              </article>
              {% endunless %}
              {% if displayed_projects >= 4 %}
                {% break %}
              {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- end projects -->
{% endif %}